@import "../utils/variables";


.product-list {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    margin-top: 5rem;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
}
.item {
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    overflow: hidden;
    &__photo {
        position: relative;
        height: 14rem;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid black;
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__details {
        display: flex;
        justify-content: space-between;
        height: 6rem;
    }
}