.product {
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    &__photo-container {
        width: 25rem;
        height: 25rem;
        margin-left: 4rem;
        margin-right: 2rem;
        border: 1px solid black;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
    &__details {
        width: 30rem;
        font-family: "Roboto", sans-serif;
        &--title {
            font-size: 28px;
        }
        &--TVA {
            margin-top: -2rem;
        }
    }
}